body{
    text-align: center;
    background-color: crimson;
    margin: 50px;
}

h1{
    font-family: 'Oswald', sans-serif;
    color:#534b4b;

}

p{
    font-family: 'Fira sans', sans-serif;
    color:#534b4b;
}
h1{
    font-family: 'Oswald', sans-serif;
    color:#534b4b;

}


a{
    color: rgb(12, 42, 208);
    text-decoration: none;
    font-family: 'Fira sans';
}
a:hover{
    text-decoration: underline;
}